:root
{
    --bg: #131313;
    --bg2: #1a1a1a;
    --txt: #fff;
    --txt2: #b7b7b7;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body
{
    background-color: var(--bg);
    overflow-x: hidden;
}

/* Navbar */

nav
{
    background-color: var(--bg2);
    box-shadow: 0 0 280px rgba(3, 92, 156, 0.962);

    position: fixed;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1rem;

    border-radius: 2rem;
    border: 1px solid var(--bg2);

    z-index: 500;
}

nav a
{
    color: var(--txt);
    text-decoration: none;
    font-size: 1.2rem;
}

/* General */

section
{
    min-height: 100dvh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 100px;
    padding-bottom: 100px;
}

h1
{
    color: var(--txt);
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

p
{
    color: var(--txt2);
    font-size: 1.2rem;
    text-align: center;
    margin-top: 1.5rem;;
}

a
{
    color: rgba(3, 92, 156, 0.962);
    text-decoration: none;
    font-weight: bold;
}

.btn
{
    background-color: transparent;
    color: var(--txt);

    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 1.5rem;

    border: 1px solid var(--txt);
    border-radius: 2rem;
    cursor: pointer;

    text-decoration: none;
    font-size: 1rem;
}

.btn-logout
{
    background-color: transparent;
    color: var(--txt);

    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    border: 1px solid var(--txt);
    border-radius: 2rem;
    cursor: pointer;

    text-decoration: none;
    font-size: 1rem;
}

/* Form */
.form
{   
    background-color: #8b8b8b2a;
    backdrop-filter: blur(90px);
    -webkit-backdrop-filter: blur(90px);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    max-width: 400px;

    padding: 2rem;
    margin-top: 2rem;

    border-radius: 2rem;
}

.form > div
{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    width: 100%;
}

label
{
    color: var(--txt);
    font-size: 1.2rem;
}

input
{
    width: 100%;

    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 1rem;
    padding-right: 1rem;

    border-radius: 2rem;
}

/* MEDIA QUERY */
@media (max-width: 768px)
{
    h1
    {
        font-size: 2rem;
    }

    section
    {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}